*.py[co]
.*.sw[po]
*.exe
venv
node_modules

/*.egg-info
/build
/cert
/dist
/syncplay v*
/syncplay_v*
syncplay_setup.nsi
dist.7z
.*
!.appveyor.yml
!.github
!.gitignore
!react-native/.gitignore
!react-native/android/.gitignore
!react-native/ios/.gitignore
!react-native/ios/.xcode.env
__pycache__
