# Rust
p2p/rust/target/

# IDE / OS
.*.sw[po]
.DS_Store

# Build artifacts
*.exe
/build
/dist

# Dependencies
node_modules

# Config (keep examples)
.*
!.appveyor.yml
!.github
!.gitignore
!react-native/.gitignore
!react-native/android/.gitignore
!react-native/ios/.gitignore
!react-native/ios/.xcode.env
